$primary: #354ede;
$text: #30323e;
$shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

// Overwrite discourse styles
input {
  &:focus {
    box-shadow: none !important;
  }
}

.d-header {
  box-shadow: none;
}

.drop-down-mode .d-header-icons .active .icon,
.menu-panel,
.user-menu .notifications .read {
  background-color: #f4f4f4;
}

.menu-panel {
  box-shadow: $shadow;
}

.menu-panel li {
  a {
    color: $text;

    &:hover {
      background-color: $primary;
      color: #fff;

      svg,
      span {
        color: #fff;
      }
    }
  }

  &.heading a:hover {
    background-color: $primary;
  }

  &.category-link a:hover span {
    color: inherit;
  }
}

.user-menu .notifications li {
  &:hover {
    background: $primary;

    a {
      color: #fff;

      svg,
      span {
        color: #fff !important;
      }
    }
  }
}

button#create-topic {
  background: $primary;
  color: #fff;

  svg {
    color: #fff;
  }
}

.category-list {
  tbody .category {
    border-left: none;
  }

  .subcategories {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    .subcategory {
      padding-top: 1rem;
    }
  }
}

// Overwrite discourse-search-banner styles
.custom-search-banner {
  h1 {
    color: $text;
  }

  input#search-term {
    height: 50px;
    padding-left: 2rem;
    border-radius: 25px;
  }

  .custom-search-banner-wrap {
    .search-icon {
      top: 0.625rem;
      right: 1rem;
    }

    .search-context {
      top: 4.5rem;
      right: 1rem;
    }
  }

  .search-menu .search-context + .results {
    margin-top: 2rem;
  }
}

// Custom styles
.asktug-nav {
  display: flex;

  .nav-item {
    padding: calc(0.5rem + 1px) 1rem;

    &.with-dropdown {
      position: relative;

      &:hover {
        background: #f4f4f4;

        > a {
          color: $primary;
        }

        .dropdown {
          display: flex;
        }
      }

      .dropdown {
        position: absolute;
        left: 0;
        display: none;
        flex-direction: column;
        min-width: 150px;
        margin-top: calc(0.5rem + 1px);
        padding: 1rem;
        background: #f4f4f4;
        box-shadow: $shadow;

        .dropdown-item {
          padding-bottom: 1rem;

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    a {
      color: $text;

      &:hover {
        color: $primary;
      }
    }
  }
}

.badges-after-meta {
  margin-left: 0.75rem;

  a {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}
