@import 'badgesPage';

$primary: #BE1D32;
$text: #2C2C2C;
$tertiary-low: #e9eaee;
$background-color: #f7f8f9;

$shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

// Overwrite discourse styles
input {
  &:focus {
    box-shadow: none !important;
  }
}

.d-header {
  box-shadow: 0 0 5px lightgrey;
}

.drop-down-mode .d-header-icons .active .icon,
.menu-panel,
.user-menu .notifications .read {
  background-color: $background-color;
}

.user-menu .notifications li {
  background-color: $tertiary-low;
}


.menu-panel {
  box-shadow: $shadow;
  background-color: $background-color;
}


.menu-panel li {
  a {
    color: $text;
    &:hover {
      background-color: $primary;
      color: #fff;
      svg,
      span {
        color: #fff;
      }
    }
  }

  &.heading a:hover {
    background-color: $primary;
  }
  &.category-link a:hover span {
    color: inherit;
  }
}

.user-menu .notifications li {
  &:hover {
    background: $primary;
    a {
      color: #fff;
      svg,
      span {
        color: #fff !important;
      }
    }
  }
}

// Overwrite discourse-search-banner styles
.search-banner {
  background-size: contain;
  background-position: center center;
}
.custom-search-banner {
  h1 {
    color: $text;
  }
  input#search-term {
    height: 48px;
    padding-left: 2rem;
    border-radius: 25px;
  }
  .custom-search-banner-wrap {
    .search-icon {
      top: 0;
      right: 1rem;
    }
    .search-context {
      top: 4.5rem;
      right: 1rem;
    }
  }
  .search-menu .search-context + .results {
    margin-top: 2rem;
  }

  .search-input {
    border-radius: 25px;
    .searching {
      top: 15px;
      right: calc(30px + 1rem);
    }
  }

  .results {
    top: 56px;
  }
}

// Custom styles
.asktug-nav {
  display: flex;
  .nav-item {
    padding: calc(0.5rem + 1px) 1rem;
    &.with-dropdown {
      position: relative;
      &:hover {
        background: #f4f4f4;
        > a {
          color: $primary;
        }
        .dropdown {
          display: flex;
        }
      }
    }
    .dropdown-item-dropdown {
      position: relative;
      &:after {
        content: '▸';
        position: absolute;
        bottom: 0;
        right: 0.5rem;
      }
      &:hover {
        .dropdown-dropdown {
          display: flex;
        }
      }
    }
    .dropdown,
    .dropdown-dropdown {
      position: absolute;
      left: 0;
      display: none;
      flex-direction: column;
      width: 150px;
      max-width: 150px;
      margin-top: calc(0.5rem + 1px);
      background: $background-color;
      box-shadow: $shadow;
      .dropdown-item {
        padding: 1rem;
        padding-bottom: 0;
        &:last-child {
          padding-bottom: 1rem;
        }
      }
    }
    .dropdown-dropdown {
      top: calc(-0.5rem - 1px);
      left: 150px;
      &:hover {
        display: flex;
      }
    }
    a {
      color: $text;
      &:hover {
        color: $primary;
      }
    }
  }
}

.badges-after-meta {
  position: absolute;
  top: 2.75rem;
  .user-badge {
    padding-left: 0;
    padding-right: 1em;
    border: none;
  }
}

.alert-emails-disabled {
  display: none;
}
